.card-container {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}

.card {
    background: rgba(255, 255, 255, 0.1);
    padding: 25px;
    border-radius: 7px;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    background: rgba(255, 255, 255, 0.116);
}
