.card-container {
    margin-top: 35px;
    display: grid;
    gap: 15px;
    width: 60%;
}

.card:hover {
    transform: translateY(-5px);
    background: rgba(255, 255, 255, 0.116);
}

.card {
    background: rgba(255, 255, 255, 0.1);
    padding: 25px;
    border-radius: 7px;
    transition: transform 0.3s;
    height: 350px;
    align-items: center;
    align-content: center;
}

.container-principal {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 100%;
}