* {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
}

.nav {
    background: #1A1A1A;
    color: white;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding: 0rem 2rem;
}

.nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 0.1rem;
    list-style: none;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    padding: 2rem;
    align-items: center;
    position: relative;
    transition: background-color 0.3s; /* Transição suave para o fundo */
    border-radius: 10%;
}

/* Estilo para o link ativo */
.nav a.active {
    background-color: #555; /* Cor do link ativo */
    border-radius: 5%; /* Bordas arredondadas para o link ativo */
    background-position: bottom;
}

/* Efeito de hover */
.nav a:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Cor de fundo ao passar o mouse */
}

.nav a::after {
    content: " ";
    width: 0%;
    height: 3px;
    background-color: yellow;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.2s ease-in-out;
}

.nav li:hover {
    background-color: rgb(19, 18, 18);
    border-radius: 12%;
}

.nav a:hover::after {
    width: 100%;
}
