.container {
    background: linear-gradient(to bottom, rgba(34, 32, 32, 0.966), #031927);
    color: white;
    padding: 20px;
    width: 100%;
    height: 100%; /* Usa 100% da altura da viewport */
    text-align: center;
}

.foto-perfil {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.card-container {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}

.card {
    background: rgba(255, 255, 255, 0.1);
    padding: 25px;
    border-radius: 7px;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    background: rgba(255, 255, 255, 0.116);
}

.language-container {
    display: flex;
    justify-content: space-between;
    overflow: hidden; /* Oculta ícones que saem da tela */
    white-space: nowrap; /* Mantém os ícones em uma única linha */
    width: 100%; /* Ocupa 100% da largura */
    position: relative; /* Necessário para posicionamento da animação */
}

.language-card {
    display: inline-block;
    width: 50px;  /* Tamanho do card */
    height: 50px; /* Tamanho do card */
    margin: 0 35px; /* Espaçamento entre os cards */
}

.language-icon {
    width: 100%; /* O ícone ocupa todo o card */
    height: 100%; /* O ícone ocupa todo o card */
}

.language-slider {
    display: inline-block;
    animation: slide 80s linear infinite; /* Animação contínua */
    width: 100%;
    white-space: nowrap; /* Garante que o conteúdo não quebre linha */
}

@keyframes slide {
    0% {
        transform: translateX(100%); /* Começa fora da tela à direita */
    }
    50% {
        transform: translateX(0); /* Posição central */
    }
    100% {
        transform: translateX(-100%); /* Move para fora da tela à esquerda */
    }
}