/*
@keyframes rotacao {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
*/

.container {
    display: flex;
    position: fixed;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 100vh; /* Manter a altura para 100% da tela */
    background: linear-gradient(to bottom, rgba(34, 32, 32, 0.966), #031927);
}

.container-fundo {
    display: flex;
    justify-content: center;
    width: inherit;
    height: inherit;
}

.container-fotoperfil {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
}

.foto-perfil {
    display: flex;
    border-radius: 100%;
    width: 150px; /* tamanho original para desktop */
    height: 150px; /* tamanho original para desktop */
    justify-content: center;
    overflow: hidden;
    margin-bottom: 550px; /* ajuste para desktop */
}

.foto-perfil img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Responsividade para mobile */
@media (max-width: 768px) {
    .container {
        flex-direction: column; /* muda a direção para coluna em mobile */
        height: auto; /* permite que o container ajuste a altura */
    }

    .foto-perfil {
        width: 100px; /* tamanho reduzido para mobile */
        height: 100px; /* tamanho reduzido para mobile */
        margin-bottom: 20px; /* ajuste de margin para mobile */
    }
}

/* Ajustes para telas entre 766px e 1285px */
@media (min-width: 766px) and (max-width: 1285px) {
    .container {
        height: 100vh; /* Mantém a altura para 100% da tela */
        background: linear-gradient(to bottom, rgba(34, 32, 32, 0.966), #031927); /* Garante que a cor de fundo esteja aplicada */
    }
}
